<h1>New game</h1>
<div class=container>
  <div class="flexbox">
    <% @grid.each do |ele| %>
      <div class="ele text"> <%= ele %></div>
    <% end %>
  </div>
</div>
<form action="/score" methode="POST" data-turbo="false">
  <label for="input-guess" class="text">What is the longest word you can find?</label><br>
  <input type="text" id="input-guess" name="guess">
  <input type="submit" value="Play">
</form>
